n8nEmbedding/TP2_CreateEmbedding_Marc-AntoineRomao.json
{
  "name": "TP2_CreateEmbedding_Marc-AntoineRomao",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        224
      ],
      "id": "736c2e8c-be72-43a3-aa79-2783b629a50c",
      "name": "Execute workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -416,
        224
      ],
      "id": "db56759c-7b77-44ba-8da2-811908666562",
      "name": "Récupère les messages Outlook",
      "webhookId": "ea06e93c-d239-46a3-b6bf-78a93713db43",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "PJ8Sycu9tHFZ5rA2",
          "name": "Microsoft Outlook account 16"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \n  const j = item.json; \n \n  const messageId = j.id || ''; \n  const conversationId = j.conversationId || ''; \n  const sender = j.from || ''; \n  const subject = j.subject || ''; \n  const bodyText = j.bodyPreview || ''; \n  const recipients = Array.isArray(j.to) ? j.to.join(', ') : ''; \n  const hasAttachments = j.hasAttachments ?? false; \n \n  const textForEmbedding = \n    `search_document: Objet: ${subject}\\n` + \n    `Expéditeur: ${sender}\\n` + \n    `Destinataire(s): ${recipients}\\n` + \n    `Message:\\n${bodyText}`; \n \n  return { \n    json: { \n      message_id: messageId, \n      conversation_id: conversationId, \n      mailbox: 'etudiant@cpnv.me', \n      sender, \n      subject, \n      body_text: bodyText, \n      recipients, \n      has_attachments: hasAttachments, \n      text_for_embedding: textForEmbedding \n    } \n  }; \n}); "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        224
      ],
      "id": "ae842476-85df-4473-b4bf-6ab59bdd39b8",
      "name": "Crée un texte Condensé du mail"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text-v2-moe"
            },
            {
              "name": "prompt",
              "value": "= {{$json.text_for_embedding}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "61433a02-776d-409d-a3b2-cd881ba2ebc4",
      "name": "Calcul de l'embedding"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        224
      ],
      "id": "4020231d-a7d9-45e9-b8b7-38258f02e227",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \n  const j = item.json; \n \n  const record = { \n    message_id: j.message_id, \n    conversation_id: j.conversation_id, \n    mailbox: j.mailbox, \n    sender: j.sender, \n    recipients: j.recipients, \n    subject: j.subject, \n    body_text: j.body_text, \n    has_attachments: j.has_attachments, \n    text_for_embedding: j.text_for_embedding, \n    embedding_model: j.model, \n    embedding: Array.isArray(j.embedding) ? j.embedding[0] : [], \n    created_at: new Date().toISOString() \n  }; \n \n  return { \n    json: { \n      line: JSON.stringify(record) \n    } \n  }; \n}); "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        224
      ],
      "id": "1d7f2817-9d0f-485e-8614-9a2e1f4a3b48",
      "name": "Transforme les données"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "embeddingsChristopheFonsecaDiogo.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        448,
        224
      ],
      "id": "ccb656cc-4578-408f-95b2-4b0dbf9f42af",
      "name": "Converti en un fichier"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/embeddingsChristopheFonsecaDiogo.json",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        656,
        224
      ],
      "id": "906046b4-1877-4fa5-954b-ea1a48073751",
      "name": "Ecrit sur le disque"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute workflow": {
      "main": [
        [
          {
            "node": "Récupère les messages Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupère les messages Outlook": {
      "main": [
        [
          {
            "node": "Crée un texte Condensé du mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crée un texte Condensé du mail": {
      "main": [
        [
          {
            "node": "Calcul de l'embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calcul de l'embedding": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Transforme les données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforme les données": {
      "main": [
        [
          {
            "node": "Converti en un fichier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converti en un fichier": {
      "main": [
        [
          {
            "node": "Ecrit sur le disque",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "aa0ba680-9084-4868-98ea-adf43c51bc3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "JwT1tLRLdjFTnXvpGy8HI",
  "tags": []
}