n8nSimilarité/TP3_Similitude_RAG_Marc-AntoineRomao.json
{
  "name": "TP3_Similitude_RAG_Marc-AntoineRomao",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        320
      ],
      "id": "756cdb55-c3fd-49f7-9b4b-c7cf2968523a",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "PJ8Sycu9tHFZ5rA2",
          "name": "Microsoft Outlook account 16"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \nconst subject = item.json.subject || \"\"; \nconst body = item.json.body || \"\"; \nreturn { \njson: { \n...item.json, \ntext_for_embedding: `search_query: Objet: \n${subject}\\nMessage:\\n${body}` \n} \n}; \n}); "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        320
      ],
      "id": "a082167c-46b6-4721-9b64-0ea8eedbbff3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text-v2-moe"
            },
            {
              "name": "prompt",
              "value": "={{ $json.text_for_embedding }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "80d5f210-9b91-4e0d-8e8e-d0611022138a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        320
      ],
      "id": "7657f8be-11fa-4c62-b716-58dc7bc82195",
      "name": "Merge"
    },
    {
      "parameters": {
        "fileSelector": "/data/embeddingsChristopheFonsecaDiogo.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        288,
        128
      ],
      "id": "dcd64046-95d0-4b34-9ec3-97880f1fddcc",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        528,
        128
      ],
      "id": "9d402b57-1aa5-4534-a097-c7178aca9198",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $input.all();\n\nlet emails = [];\n\nraw.forEach(item => {\n  const dataArray = item.json.data || [];\n\n  dataArray.forEach(d => {\n    if (d.line) {\n      try {\n        const parsed = JSON.parse(d.line);\n\n        emails.push({\n          subject: parsed.subject || \"\",\n          body_text: parsed.body_text || \"\"\n        });\n\n      } catch (e) {}\n    }\n  });\n});\n\nif (emails.length < 2) {\n  return [\n    {\n      json: {\n        message: \"Pas assez d'emails pour calculer une similarité\",\n        count: emails.length\n      }\n    }\n  ];\n}\n\nfunction tokenize(text) {\n  if (!text) return [];\n\n  return text\n    .toLowerCase()\n    .replace(/[^\\w\\s]/g, \"\")\n    .split(/\\s+/)\n    .filter(Boolean);\n}\n\nfunction buildVocabulary(docs) {\n  const vocab = new Set();\n\n  docs.forEach(doc => {\n    tokenize(doc).forEach(word => vocab.add(word));\n  });\n\n  return Array.from(vocab);\n}\n\nfunction textToVector(text, vocab) {\n  const words = tokenize(text);\n\n  const freq = {};\n  words.forEach(w => {\n    freq[w] = (freq[w] || 0) + 1;\n  });\n\n  return vocab.map(word => freq[word] || 0);\n}\n\nfunction dot(a, b) {\n  return a.reduce((sum, v, i) => sum + v * b[i], 0);\n}\n\nfunction magnitude(v) {\n  return Math.sqrt(v.reduce((s, x) => s + x * x, 0));\n}\n\nfunction cosine(a, b) {\n  const denom = magnitude(a) * magnitude(b);\n  if (!denom) return 0;\n  return dot(a, b) / denom;\n}\n\nconst vocab = buildVocabulary(emails.map(e => e.body_text));\n\nconst vectors = emails.map(e => textToVector(e.body_text, vocab));\n\nconst avgVector = [];\n\nfor (let i = 0; i < vocab.length; i++) {\n  let sum = 0;\n\n  for (let j = 0; j < vectors.length; j++) {\n    sum += vectors[j][i];\n  }\n\n  avgVector.push(sum / vectors.length);\n}\n\nconst results = emails.map((email, i) => {\n  const vec = vectors[i];\n  const similarity = cosine(vec, avgVector);\n\n  return {\n    json: {\n      subject: email.subject,\n      body_text: email.body_text,\n      similarity: Number(similarity.toFixed(2))\n    }\n  };\n});\n\nresults.sort((a, b) => b.json.similarity - a.json.similarity);\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        544
      ],
      "id": "d37dc5b8-ce4c-4deb-a9bb-c871c387f79c",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9aff460e-9247-4a59-92a7-72bf0566dac8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "SRZqi2bYb5vDPRWmQWW4C",
  "tags": []
}